
a{
    text-decoration: none;
    color: black;
    display: flex;
}
.black{
    color: black;
}
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
footer, body{
    margin: 0;
    padding:0;
}
header{
    width: 96%;
    margin: auto;
}
h2{
    margin-top: 50px;
}
h2,h3,h4,h5,#slogan,.p1,.sorting,.accommodation,.popular,.overlay-act,.footer{
    font-family: raleway,serif,sans-serif;
}
h4{
    padding-top: 10px;
}
.grey{
    color: #F2F2F2;
}

.total-margin{
    width: 97%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* HEADER */

.blue,.housing,.top-blue{
    color: #0065FC;
}
#logo{
    height: 50px;
    margin-top: 20px;
    width: 100px;
    margin-left: 20px;
}
ul{
    list-style: none;
    display: flex;
}
.li,.li-top,#li-top2,#li-top3{
    margin: 25px 10px;
    font-family: raleway, serif, sans-serif;
    font-weight: 400;
}
#register{
    font-family: raleway, serif, sans-serif;
    font-weight: 400;
    margin: 25px;
}
.margin-slogan{
    margin: 10px 50px
}
#menu{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}
#top,.top-menu{
    display: flex;
}
.top-menu2{
    display: none
}
#reservia{
    width: 100px;
}
#slogan h3{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}
.bleu:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.black{
    border-top: 2px solid white;
    
}
.black:hover{
    border-top: 2px solid grey;
}
.housing{
    border-top: 2px solid white;
}
.housing:hover{
    border-top: 2px solid #0065FC;
}
#register{
    border-top: 2px solid white;
}
#register:hover{
    border-top: 2px solid #0065FC;
}
/* SEARCH BAR */
.fa-search{
    display: none;
}
.fa-map-marker-alt{
    width: 15px;
    padding: 15px 20px 15px 20px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}
::placeholder{
    color: black;
    padding-left: 20px;
}
.search,.searchButton{
    border: 1px solid #F2F2F2;
    height: 50px;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
    border-left: none;
    border-right: none;
    font-family: raleway, serif, sans-serif;
    font-weight: bold;
    font-size: 1em;
}
.searchButton {
    width: 250px;
    background: #0065FC;
    text-align: center;
    color: #fff;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-size: 1.1em;
}
.searchbar{
    margin-left: 20px;
}
.wrap{
    width: 30%;
    display: flex;
}
/* FILTRE */

.filter{
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
#filter{
    margin: 50px 15px 20px 25px;
}
.flex-info,.filter{
    display: flex;
}
.icon{
    border-radius: 100%;
    padding: 15px;
    margin-right: 10px;
    background-color: #DEEBFF;
}

.info{
    padding: 1px 8px;
    margin-right: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
}
.list{
    border-top: 2px solid rgb(217,217,217);
    border-right: 2px solid rgb(217,217,217);
    border-bottom: 2px solid rgb(217,217,217);
    padding: 12px 20px 12px 0;
    border-radius: 50px;
    margin: 0px;
}
.list:hover{
    border-top: 2px solid #0065FC;
    border-right: 2px solid #0065FC;
    border-bottom: 2px solid #0065FC;
}
#menu-filter{
    display: flex;
    flex-direction: column;
}
.p1{
    font-weight: 300;
    font-size: 1em;
    display: flex;
    margin: 20px 0 50px 20px;
}
.sorting{
    display: flex;
    min-height: 90px;
    font-weight: bold;
    color: black;
}

/* HEBERGEMENT */

#hotel{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
}
.accommodation{
    width: 60%;
    flex-wrap: wrap;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.popular{
    width: 27%;
}
.popular,.accommodation{
    background-color: #F2F2F2;
    border-radius: 20px;  
}
.margin-activity{
    margin: 50px 0 20px 100px;
}
.margin-accommodation{
    margin: 50px 0 20px 40px;
}
.graphic{
    display: flex;
    justify-content: space-around;
}
#graphic{
    margin-top: 60px;
}
.photo{
    display: flex;
    width: 250px;
    height: 115px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 20px 20px 0 0;
}
.frame{
    justify-content: space-around;
    margin: 0 20px;
    width: auto
}
.frame-pop{
    margin: 0 10px;
}
.frame,.frame-pop{
    display: flex;
    flex-wrap: wrap
}
.overlay{
    display: flex;
    width: 250px;
    background-color: white;
    flex-direction: column;
    border-radius: 0 0 20px 20px;
    height: 70px;
    box-shadow: 0 5px 5px 5px rgba(172,172,172,0.1);
}
.overlay, h4, p{
    margin: 2px 0 0 10px;
    padding-left: 5px;
}
.photo, .overlay{
    margin: 0; 
}
.margin{
    margin: 2px 3px 20px 3px;
}
.margin-h2{
    margin: 50px 0 20px 0;
}
.photo-pop{
    width: 120px;
    max-height: 140px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 20px 0 0 20px;
    margin: 0 0 0 15px;
}
.overlay-pop{
    width: 14.0vw;
    background-color: white;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    justify-content: space-between;
    box-shadow: 0 5px 5px 5px rgba(172,172,172,0.1);
}
.margin-popular{
    display: flex;
    margin: 0 auto 40px;
    width: 100%;
    justify-content: center;
}
.pin-up{
    margin: 20px 0 0 40px;
}
.margin-pop{
    margin-bottom: 0px;
}
.star{
    margin-left: 15px;
}
.star-margin{
    margin: 40px 0 10px 0;
}
/* ACTIVITES */
#activity{
    margin-bottom: 50px;
}
.left{
    display: flex;
    margin-bottom: 40px;
    margin-right: 50px;
}
.small,.big,.small-right,.island{
    width: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.big{
    height: 390px;
    margin-right: 40px;
}
.small{
    height: 170px;
    display: flex;
}
.small-right{
    height: 150px;
}
.island{
    height: 130px;
}
.right{
    display: flex;
    margin-bottom: 40px;
}
.all{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px 0 0px;
    justify-content: center;
}
.overlay-act{
    display: flex;
    width: 300px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    height: 50px;
    box-shadow: 0 5px 5px 5px rgba(172,172,172,0.1);
}
.margin-act{
    margin: 15px 0 0 5px
}
.two{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex-wrap: wrap;
}
/* FOOTER */
.about,.assistance,.our-accommodation{
    display: flex;
    flex-direction: column;
}
.about,.our-accommodation{
    margin-right: 220px;
}
.footer{
    display: flex;
    background-color: #F2F2F2;
    width: 100%;
    padding: 50px 0;
}
.direction{
    display: block;
    padding: 0;
    margin: 0;
}
.margin-footer{
    margin: 20px 20px 20px 100px;
}
.margin-list{
    margin: 10px 0 0 100px; 
}
@media screen and (max-width: 1925px) and (min-width: 1500px){
    .margin{
        margin: 2px 5px 20px 5px;
    }
    .photo-pop{
        margin-left: 40px;
    }
    .left{
        margin-right: 120px;
    }
    .big{
        margin-right: 120px;
    }
}
@media screen and (max-width: 1023px) and (min-width: 768px)
{
    /* général */
    .housing:hover{
        border-top: 0px solid #0065FC;
        color: #0065FC;
    }

    .black:hover{
        border-top: 0px solid white;
    }

    /* menu */
    #menu{
        width: 90%;
    }
    .br,.menu{
        display: flex;
        flex-direction: column;
    }
    #register{
        display: flex;
        margin: 40px 20px 0 0vw;
    }
    .li-top2{
        padding: 2vw 16.5vw 1vw 16.5vw;
        margin: 0;
    }
    .li-top3{
        padding: 2vw 20vw 1vw 20vw;
        margin: 0;
    }
    .header{
        width: 100%
    }
    .top-menu{
        display: none;
    }
    .top-menu2{
        display: flex;
    }
    .logo{
        height: 50px;
    }
    .housing,.top-blue{
        border-bottom: 3px solid;
    }
    .black{
        border-bottom: 3px solid rgb(217,217,217);
    }

    /* boutton rechercher */
    
    .searching{
        display: none;
    }
    .fa-search{
        display:inline-block;
        padding: 15px;
    }
    .search{
        width: 250px;
    }
    .searchButton{
        border-radius: 15px;
    }
    .fa-map-marker-alt{
        padding-right: 15px;
    }
    /* filtre */
    #filtre{
        margin: 30px 0 10px 30px;
    }
    .sorting{
        display: flex;
        flex-direction: column;
    }
    .li{
        margin: 5px 2px 5px 20px;
    }
    #slogan{
        margin-top: 30px;
    }
    /* hotels */
    #hotel{
        display: flex;
        flex-direction: column-reverse;
    }
    .frame{
        display: flex;
        flex-direction: column;
    }
    .accommodation{
        background-color: white;
        padding: 0px;
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    .popular{
        width: 55%;
        margin: 0 auto;
    }
    h2{
        margin-left: 10px;
    }
    .overlay-pop{
        width: 200px;
    }
    .photo,.overlay{
        width: 320px;
    }
    .pin-up{
        margin: 0 5px;
    }
    /* activités */
    .all{
        display: flex;
        flex-direction: column;
    }
    .big{
        margin: 0;
    }
    .big,.little,.island,.small-right{
        width: 320px;
        height: 115px;
    }
    .overlay-act{
        margin-bottom: 20px;
        width: 320px
    }
    .left,.right{
        display: flex;
        flex-direction: column;
    }
    /* footer */
    .footer{
        display: block;
        flex-direction: column;
    }
}
@media screen and (max-width: 767px) and (min-width: 320px)
{
    /* général */
    .housing:hover{
        border-top: 0px solid #0065FC;
        color: #0065FC;
    }

    .black:hover{
        border-top: 0px solid white;
    }

    /* menu */
    #menu{
        width: 70%;
        height: 100px;
    }
    .register{
        height: 20px;
    }
    .top-menu{
        height: 30px;
    }
    .br,.menu{
        display: flex;
        flex-direction: column;
    }
    #register{
        display: flex;
        margin: 30px 10px 0 0;
        position: absolute;
        right: 0rem;
    }
    .li-top2{
        margin: 0;
        padding: 0 40px 0 40px;
        position: relative;
        top: 5.5rem;
        right: 0.2rem;
    }
    .li-top3{
        margin: 0;
        padding: 0 60px 0 60px;
        position: relative;
        top: 5.5rem;
        right: 0.2rem;
    }
    .header{
        width: 100%
    }
    .logo{
        height: 50px;
    }
    .housing{
        border-bottom: 3px solid #0065FC;
    }
    .black{
        border-bottom: 3px solid rgb(217,217,217);
    }
    /* boutton rechercher */
    
    .searching{
        display: none;
    }
    .fa-search{
        display:inline-block;
        padding: 15px;
    }
    .search{
        width: 250px;
    }
    .searchButton{
        border-radius: 15px;
    }
    .fa-map-marker-alt{
        padding-right: 15px;
    }
    /* filtre */
    #filter{
        margin: 30px 0 10px 30px;
    }
    .sorting{
        display: flex;
        flex-direction: column;
    }
    .li{
        margin: 5px 2px 5px 20px;
    }
    #slogan{
        margin-top: 30px;
    }
    /* hotels */
    .margin-accommodation{
        margin-left: 30px;
    }
    #hotel{
        display: flex;
        flex-direction: column-reverse;
    }
    .frame{
        display: flex;
        flex-direction: column;
    }
    .accommodation{
        background-color: white;
        padding: 0px;
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    .popular{
        width: 100%;
        margin: 0 auto;
    }
    .frame-pop{
    margin: 0 1px;
    }
    h2{
        margin-left: 10px;
    }
    .overlay-pop{
        width: 200px;
    }
    .photo,.overlay{
        width: 320px;
    }
    .pin-up{
        margin: 0 5px;
    }
    /* activités */
    .margin-activity{
        margin-left: 20px;
    }
    .all{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
    }
    .big{
        margin: 0;
        width: 320px;
        height: 140px;
        object-position:center;
    }
    .big,.small,.island,.small-right{
        width: 320px;
        height: 115px;
    }
    .overlay-act{
        margin-bottom: 20px;
        width: 320px
    }
    .left,.right{
        display: flex;
        flex-direction: column;
    }
    .left{
        margin-right: 0;
    }
    /* footer */
    .footer{
        display: block;
        flex-direction: column;
    }
    .margin-list{
        margin: 10px 0 0 30px;
    }
    .margin-footer{
        margin: 30px 20px 5px 25px
    }
}