/* GENERAL */
*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color: black;
    display: flex;
}

.black
{
    color: black;
}

body 
{
    height: 100%;
    margin: 0;
    padding: 0;
}

footer
{
    margin: 0;
    padding:0;
}


header
{
    width: 96%;
    margin: auto;
}


h2
{
    font-family: raleway,serif,sans-serif;
    margin-top: 50px;
}

.gris
{
    color: #F2F2F2;
}

.marge-total
{
    width: 97%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* HEADER */

.blue
{
    color: #0065FC;
}

.bleu
{
    color: #0065FC;
}
.azul
{
    color: #0065FC;
}

#logo
{
    height: 50px;
    margin-top: 20px;
    width: 100px;
    margin-left: 20px;
}

ul
{
    list-style: none;
    display: flex;
}

.li
{
    margin: 25px 10px;
    font-family: raleway, serif, sans-serif;
}
#li-top
{
    margin: 25px 10px;
    font-family: raleway, serif, sans-serif;
    font-weight: 400
}
#li-top2
{
    margin: 25px 10px;
    font-family: raleway, serif, sans-serif;
    font-weight: 400
}
#li-top3
{
    margin: 25px 10px;
    font-family: raleway, serif, sans-serif;
    font-weight: 400
}
#inscrire
{
    margin: 25px 10px;
    font-family: raleway, serif, sans-serif;
}

.marge-slogan
{
    margin: 10px 20px
}
#menu
{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

#top
{
    display: flex;
}
.top-menu
{
    display: flex;
}
.top-menu2
{
    display: none
}
#reservia
{
    width: 100px;
}

#slogan
{
    font-family: raleway, serif, sans-serif;
    margin-bottom: 20px
}

#slogan h3
{
    font-weight: 700;
    font-size: 20px
}

.bleu:hover
{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.black:hover
{
    border-top: 2px solid grey;
}

/* SEARCH BAR */

.fa-search
{
    display: none;
}

.fa-map-marker-alt
{
    width: 15px;
    padding: 15px 20px 15px 20px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
}

::placeholder
{
    color: black;
    padding-left: 20px;
}

.search 
{
    width: 100%;
    position: relative;
    display: flex;
    border: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    height: 50px;
    font-family: raleway, serif, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.searchButton 
{
    width: 250px;
    height: 36px;
    border: 1px solid #F2F2F2;
    background: #0065FC;
    text-align: center;
    color: #fff;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-size: 1.1em;
    height: 50px;
}

.searchbar
{
    margin-left: 20px;
}

.wrap
{
    width: 30%;
    display: flex;
}



/* FILTRE */

.filtre
{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

#filtre
{
    margin: 50px 15px 20px 25px;
}

.flex-info
{
    display: flex;
}

.icon
{
    border: 2px solid  #DEEBFF;
    border-radius: 100%;
    padding: 13px;
    margin-right: 10px;
    background-color: #DEEBFF;
}

.info
{
    padding: 1px 8px;
    margin-right: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
}

.list
{
    border-top: 2px solid rgb(217,217,217);
    border-right: 2px solid rgb(217,217,217);
    border-bottom: 2px solid rgb(217,217,217);
    padding: 12px 20px 12px 0;
    border-radius: 50px;
    margin: 0px;
}

#menu-filtre
{
    display: flex;
    flex-direction: column;
}

.p1
{
    font-family: raleway, sans-serif, serif;
    font-weight: 300;
    font-size: 1em;
    display: flex;
    margin: 20px 0 50px 20px;
}

.tri
{
    display: flex;
    font-family: raleway, serif, sans-serif;
    min-height: 90px;
    font-weight: bold;
    color: black;
}

/* HEBERGEMENT */

#hotel
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
}

.hebergement
{
    width: 880px;
    background-color: #f2F2f2;
    border-radius: 20px;
    flex-wrap: wrap;
    font-family: raleway, serif, sans-serif;
    padding-bottom: 30px;
    margin-bottom: 30px;
}


.populaire
{

    background-color: #F2F2F2;
    border-radius: 20px;
    width: 440px;
    font-family: raleway, serif, sans-serif;
}

h2
{
    margin: 50px 0 20px 50px;
}

.graph
{
    display: flex;
    justify-content: space-around;
}

#graph
{
    margin-top: 60px;
}

.photo
{
    display: flex;
    width: 250px;
    height: 115px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 20px 20px 0 0;
}

.cadre
{
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    flex-wrap: wrap;
    width: auto
}

.cadre-pop
{
    display: flex;
    justify-content: center;
    margin: 0 40px;
    flex-wrap: wrap;
}

.overlay
{
    display: flex;
    width: 250px;
    background-color: white;
    flex-direction: column;
    border-radius: 0 0 20px 20px;
    height: 70px;
    box-shadow: 0 5px 5px 5px rgba(172,172,172,0.1);
}

.overlay, h4, p
{
    margin: 2px 0 0 10px;
    padding-left: 5px;
}

.photo, .overlay
{
    margin: 0;
    
}

.marge
{
    margin-bottom: 30px;
}

.marge-h2
{
    margin: 50px 0 20px 0;
}


.photo-pop
{
    width: 120px;
    max-height: 140px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 20px 0 0 20px;
}

.overlay-pop
{

    width: 220px;
    background-color: white;
    flex-direction: column;
    border-radius: 0 20px 20px 0;
    justify-content: space-between;
    box-shadow: 0 5px 5px 5px rgba(172,172,172,0.1);
}

.marge-pop
{
    display: flex;
    margin-bottom: 40px;
}

.afficher
{
    margin: 20px 0 0 40px;
}

.margin-pop
{
    margin-bottom: 0px;
}

.star
{
    margin-left: 15px;
}

.star-marge
{
    margin: 40px 0 10px 0;
}

/* ACTIVITES */
#activite
{
    margin-bottom: 50px;
}

.gauche
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;

}

.grande
{
    width: 300px;
    border-radius: 20px 20px 0 0;
    height: 390px;
    object-fit: cover;
    margin-right: 40px;
}

.petite
{
    width: 300px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    display: flex;
}

.petite-droite
{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.iles
{
    width: 300px;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.droite
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.toutes
{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px 0 0px;
    justify-content: space-around;
}

.overlay-act
{
    display: flex;
    width: 300px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    height: 50px;
    box-shadow: 0 5px 5px 5px #F2F2F2;
    font-family: raleway, serif, sans-serif;
}

.marge-act
{
    margin: 15px 0 0 5px
}

.deux
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex-wrap: wrap;
    
    
}

/* FOOTER */

.a-propos
{
    display: flex;
    flex-direction: column;
    margin-right: 220px;
}

.assistance
{
    display: flex;
    flex-direction: column;
}

.nos-hebergement
{
    margin-right: 220px;
    display: flex;
    flex-direction: column;
}

.footer
{
    display: flex;
    background-color: #F2F2F2;
    font-family: raleway, serif, sans-serif;
    width: 100%;
    padding: 50px 0;
}

.direction
{
    display: block;
    padding: 0;
    margin: 0;
}

.marge-footer
{
    margin: 20px;
}

.z
{
    margin: 10px 0 0 25px; 
}

@media screen and (min-width: 560px) (max-width: 651px)
{
    /* général */
    .bleu:hover
    {
        border-top: 0px solid #0065FC;
        color: #0065FC;
    }

    .black:hover
    {
        border-top: 0px solid white;
    }

    /* menu */
    #menu
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .br
    {
        display: flex;
        flex-direction: column;
    }
    #inscrire
    {
        display: flex;
        margin: 40px 0 0 130px;
    }
    #li-top2
    {
        padding: 20px 35px 10px 35px;
        margin: 0;
    }
    #li-top3
    {
        padding: 20px 65px 10px 65px;
        margin: 0;
    }
    .header
    {
        width: 100%
    }
    .top-menu
    {
        display: none;
    }
    .top-menu2
    {
        display: flex;
    }
    .logo
    {
        height: 50px;
    }
    .bleu
    {
        border-bottom: 3px solid;
    }
    .black
    {
        border-bottom: 3px solid rgb(217,217,217);
    }
    /* boutton rechercher */
    
    .rechercher
    {
        display: none;
    }
    .fa-search
    {
        display:inline-block;
        padding: 15px;
    }
    .search
    {
        width: 250px;
    }
    .searchButton
    {
        border-radius: 15px;
    }
    .fa-map-marker-alt
    {
        padding-right: 15px;
    }
    
    /* filtre */
    #filtre
    {
        margin: 30px 0 10px 30px;
    }
    .tri
    {
        display: flex;
        flex-direction: column;
    }
    .li
    {
        margin: 5px 2px 5px 20px;
    }
    #slogan
    {
        margin-top: 30px;
    }
    /* hotels */
    #hotel
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .cadre
    {
        display: flex;
        flex-direction: column, center;
    }
    .hebergement 
    {
        width: 100%;
        background-color: white;
        padding: 0px;
        margin: 0;
    }
    .populaire
    {
        width: 100%;
    }
    h2
    {
        margin-left: 10px;
    }
    .overlay-pop
    {
        width: 200px;
    }
    .photo
    {
        width: 320px;
    }
    .overlay
    {
        width: 320px
    }
    .afficher
    {
        margin: 0 5px;
    }
    
    /* activités */
    .toutes
    {
        display: flex;
        flex-direction: column, center;
    }
    .grande
    {
        margin: 0;
        width: 320px;
        height: 115px
    }
    .petite
    {
        width: 320px;
        height: 115px;
    }
    .iles
    {
        width: 320px;
        height: 115px;
    }
    .petite-droite
    {
        width: 320px;
        height: 115px;
    }
    .overlay-act
    {
        margin-bottom: 20px;
        width: 320px
    }
    
    /* footer */
    .footer
    {
        display: flex;
        flex-direction: column;
    }
    .gauche
    {
        display: flex;
        flex-direction: column;
    }
    .droite
    {
        display:  flex; 
        flex-direction: column;
    }

}

@media screen and (min-width: 669px) (max-width: 769px)
{
    /* général */
    .bleu:hover
    {
        border-top: 0px solid #0065FC;
        color: #0065FC;
    }

    .black:hover
    {
        border-top: 0px solid white;
    }

    /* menu */
    #menu
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .br
    {
        display: flex;
        flex-direction: column;
    }
    #inscrire
    {
        display: flex;
        margin: 40px 0 0 500px;
    }
    #li-top2
    {
        padding: 20px 125px 10px 125px;
        margin: 0;
    }
    #li-top3
    {
        padding: 20px 155px 10px 155px;
        margin: 0;
    }
    .header
    {
        width: 100%
    }
    .top-menu
    {
        display: none;
    }
    .top-menu2
    {
        display: flex;
    }
    .logo
    {
        height: 50px;
    }
    .bleu
    {
        border-bottom: 3px solid;
    }
    .black
    {
        border-bottom: 3px solid rgb(217,217,217);
    }
    /* boutton rechercher */
    
    .rechercher
    {
        display: none;
    }
    .fa-search
    {
        display:inline-block;
        padding: 15px;
    }
    .search
    {
        width: 250px;
    }
    .searchButton
    {
        border-radius: 15px;
    }
    .fa-map-marker-alt
    {
        padding-right: 15px;
    }
    
    /* filtre */
    #filtre
    {
        margin: 30px 0 10px 30px;
    }
    .tri
    {
        display: flex;
        flex-direction: column;
    }
    .li
    {
        margin: 5px 2px 5px 20px;
    }
    #slogan
    {
        margin-top: 30px;
    }
    /* hotels */
    #hotel
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .cadre
    {
        display: flex;
        flex-direction: column, center;
    }
    .hebergement 
    {
        width: 100%;
        background-color: white;
        padding: 0px;
        margin: 0;
    }
    .populaire
    {
        width: 100%;
    }
    h2
    {
        margin-left: 10px;
    }
    .overlay-pop
    {
        width: 200px;
    }
    .photo
    {
        width: 320px;
    }
    .overlay
    {
        width: 320px
    }
    .afficher
    {
        margin: 0 5px;
    }
    
    /* activités */
    .toutes
    {
        display: flex;
        flex-direction: column, center;
    }
    .grande
    {
        margin: 0;
        width: 320px;
        height: 115px
    }
    .petite
    {
        width: 320px;
        height: 115px;
    }
    .iles
    {
        width: 320px;
        height: 115px;
    }
    .petite-droite
    {
        width: 320px;
        height: 115px;
    }
    .overlay-act
    {
        margin-bottom: 20px;
        width: 320px
    }
    .gauche
    {
        display: flex;
        flex-direction: column;
    }
    .droite
    {
        display:  flex; 
        flex-direction: column;
    }
    
    /* footer */
    .footer
    {
        display: flex;
        flex-direction: column;
    }

    

}